<!DOCTYPE html>
<html lang="en">
<head>
<title>Invalid</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  font-size: 20px;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background-color: #DC143C;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>
  	<a href="/">Home</a>
  	<a href="/newEmployee">New Employee</a>
    <a href="/listEmployee">List Employees</a>

<div class="header">  
  <h1>Page not found 
    <p><img src="notfound.png"></p>
  <span style='font-size:50px;'>&#10071;</span>
  </h1>
</div>


</body>
</html>