<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type = "text/css" href="style.css"/>

<title>HR</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>
    <p><img src="logo.png"></p>
    
    FIT2095</h1>
  <p>HR Department System</p>
</div>

<div class="content">
  <p>
  	<a href="/newEmployee">New Employee</a>
  </p>
  <p>
    <a href="/listEmployee">List Employees</a>
  </p>
</div>

</body>
</html>